# python cache
__pycache__/

# input datasets and ground truth
datasets/

# results of inference and evaluation
results*/

# parity test results
parity_results*/

# models
*.pt
*.onnx
*.tflite
*.engine
!docs/models/*.onnx

# currently online streamlit app
online/

# mkdocs
site/

# taxonomies
AviList-v2025-11Jun-extended.xlsx

# report
bericht/
ToDo.md
TRAINING_VS_INFERENCE.md
eBird_code_to_name.txt
docs/refs.bib
